<template>
  <div class="mb-4">
    <label class="block font-bold mb-1 text-indigo-800" :for="'field_' + field.attr">
      {{ field.label }}
      <span v-if="field.translatable" class="text-green-600">({{ resource.locale }})</span>
    </label>
    <div class="flex">
      <button v-if="value" type="button" class="mr-3 font-normal text-sm rounded rounded-sm inline-block w-10 text-center bg-pink-600 text-white" @click="handleClear" title="Clear">x</button>
      <input class="block w-full border border-gray-300 px-1 py-2 text-blue-600" type="text" :name="field.id" :value="visibleValue" @click="handleOpen" />
      <button type="button" class="ml-2 btn btn-primary-outline" @click="handleOpen">Select</button>
      
    </div>

    <div :class="'modal fixed pin top-0 left-0 w-full h-full px-6 py-6' + isHidden">
    
    <div :class="'relative mx-auto w-full bg-white py-6 px-6 border border-gray-400 shadow-lg' + isHidden">
      <button type="button" class="absolute top-0 right-0 mt-4 mr-4 ml-2 rounded rounded-full border border-blue-700 text-blue-500 text-sm px-6 py-2 font-bold" @click="handleClose">Close</button>
      <div v-if="isLoading" class="text-center text-lg my-6">Loading...</div>
      <div v-else>
        <h4 class="font-bold text-md text-blue-800 mb-4">Collections</h4>
        <ul>
          <li class="mb-2" v-for="row in model.data" :key="row.id">
            <a class="underline hover:no-underline" :href="'#' + row.id" @click="handleSelect(row)">{{ row.title }}</a>
             <div class="text-xs text-gray-600 mt-1">{{ row.slug }} | {{  row.collection_type }}</div>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {    
    props: ['resource', 'field', 'value'],

    computed: {
      isHidden() {
        return this.isVisible ? '' : ' hidden';
      },

      visibleValue() {
        let name = this.selected.title;

        let id = '';

        if (this.value) {
          if (typeof this.value == 'string' || typeof this.value == 'number') id = '('+this.value+')';
          if (typeof this.value == 'object') id = '('+this.value.data+')';
        }

        return name + ' ' + id;
      }
    },

    data() {
        return {
          isLoading: false,
          lang: 'en',
          isVisible: false,
          model: [],
          selected: {
            title: ''
          }
        };
    },

    methods: {
      handleClose() {
        this.isVisible = false;
      },

      handleClear() {
        this.handleInput(null);
        this.selected =  {title: ''};
      },

      handleSelect(row) {
        this.isVisible = false;
        this.handleInput(row.id);
      },

      handleOpen() {
        this.getData();
      },

      handleInput(id) {
        this.$emit('input', {
          id: this.field.id ? this.field.id : null,
          attr: this.field.attr, 
          value: id,
          type: 'collection',
        });

        if (id) this.getSelected(id);
      },

      getData() {
        this.isLoading = true;
        this.isVisible = true;

        fetch(window.Urls.collections + '?lang=' + this.resource.locale, {
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
          },
          method: 'GET',
        }).then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            this.isLoading = false;
            var error = new Error(response.statusText);
            error.response = response;
            throw error;
          }
        }).then((response) => {
          Vue.set(this, 'model', response.results);
          this.isLoading = false;
        });
      },

      getSelected(id) {
        this.selected = {title: 'Loading...'};

        fetch(window.Urls.collections + '/' + id + '?lang=' + this.resource.locale, {
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
          },
          method: 'GET',
        }).then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            var error = new Error(response.statusText);
            error.response = response;
            throw error;
          }
        }).then(res => {
          Vue.set(this, 'selected', res.model);
        });
      }
    },

    watch: {
      value(val) {
        if (val && typeof val == 'string' || val && typeof val == 'number') this.getSelected(val);
        if (val && typeof val == 'object') this.getSelected(val.data);
      }
    }
}
</script>