<template>
  <section>
      <div class="w-full flex">
        <div class="w-1/4 bg-white px-4 py-4 mr-10 shadow rounded-sm">
          <collection-tree @input="getLibraryByCollection" collection-type="content"></collection-tree>
        </div>
        <div class="w-3/4 bg-white px-4 py-4 shadow rounded-sm">

          <div v-if="loading" class="bg-yellow-200 py-2 px-4 text-lg text-yellow-800 mb-4">
            Loading...
          </div>

          <ul v-if="!loading">
              <li class="mb-4" v-for="row in rows" :key="row.id">
                <a class="underline hover:no-underline" :href="linkPath + '/'+row.id+'/edit'">
                  {{ row.title | limitLength }}
                </a>
              </li>

              <li v-if="!rows.length" class="bg-pink-100 text-red-700 text-lg px-4 py-2">
                No Results
              </li>
          
          </ul>
        </div>
      </div>
  </section>
</template>
<script>
import CollectionTree from './CollectionTree.vue';

export default {

  components: {
    CollectionTree,
  },

  filters: {
    limitLength: function (value) {
      if (value.length > 35) return value.substring(0, 35) + '...';
      return value;
    }
  },

  props: ['resource', 'csrf'],

  computed: {
    linkPath() {
      return window.Urls.contents;
    }
  },

  data() {
    return {
      loading: true,
      locale: 'en',
      rows: [],
      totalPages: 1,
      currentPage: 1,
      collection: false,
      filters: {
      }
    }
  },

  methods: {
    getLibraryByCollection(data) {
      this.collection = data;
      this.filters.collection_id = data;
      this.getLibrary(window.Urls.contents);
    },

    getLibrary(url) {
      this.loading = true;

      this.$http.get(url, {
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
        },
        params: this.filters
      }).then(res => {
        this.currentPage = res.data.results.current_page;
        this.totalPages = res.data.results.total;
        this.rows = res.data.results.data;
        this.loading = false;
      });
    }
  },

  mounted() {
    var url = window.Urls.contents;
    this.getLibrary(url);
  }
}
</script>