<template>
  <div class="crud">
    <p class="mb-4">Editing ({{ locale }})</p>

          <div v-if="siteAvailabilities" class="mb-4 bg-gray-200 py-4 px-4">
            Locales: 
            <button type="button" class="underline hover:no-underline" @click="handleChangeLocale('en')">EN {{ siteAvailabilities.en }}</button>
            <button type="button" class="underline hover:no-underline" @click="handleChangeLocale('jp')">JP {{ siteAvailabilities.jp }}</button>
            <button type="button" class="underline hover:no-underline" @click="handleChangeLocale('fr')">FR {{ siteAvailabilities.fr }}</button>
            <button type="button" class="underline hover:no-underline" @click="handleChangeLocale('kr')">KR {{ siteAvailabilities.kr }}</button>
        </div>

    <div class="flex">
      <div class="col w-3/4 mr-10 bg-white py-4 px-4 shadow rounded-sm">
        <div class="px-2 mb-10">
          <div class="px-2 mb-10">
            <ul class="flex border-b border-gray-400">
              <li v-for="tab in tabs" :key="tab" class>
                <a
                  href="#"
                  style="top: 2px; position: relative"
                  :class="'px-4  ' + (activeTab == tab ? 'font-bold border-b text-blue-800 border-blue-600' : 'text-gray-600')"
                  @click="activeTab = tab"
                >{{ tab }}</a>
              </li>
            </ul>
          </div>

          <ul>
            <li v-for="field in fields" :key="field.attr">
              <component
                v-if="inPrimaryColumn(field) && inTab(field)"
                :is="field.type + '-field'"
                :locale="formData.locale"
                resource="resource"
                :field="field"
                :value="formData[field.attr]"
                @input="handleInput"
                @add-asset="handleNewAsset"
              />
            </li>
          </ul>
        </div>
      </div>

      <div class="col w-1/4 bg-white py-4 px-4 shadow rounded-sm">
        <button @click="handleSave" class="btn btn-primary btn-block mb-10">Save</button>

        <ul>
          <li v-for="field in fields" :key="field.attr">
            <component
              v-if="inSecondaryColumn(field)"
              :is="field.type + '-field'"
              :locale="formData.locale"
              resource="resource"
              :field="field"
              :value="formData[field.attr]"
              @input="handleInput"
              
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import TextField from "./fields/TextField.vue";
import HiddenField from "./fields/HiddenField.vue";
import BooleanField from "./fields/BooleanField.vue";
import CollectionField from "./fields/CollectionField.vue";
import SelectField from "./fields/SelectField.vue";
import FieldsField from "./fields/FieldsField.vue";
import PublishField from "./fields/PublishField.vue";
import MediaField from './fields/MediaField.vue';
import AssetField from './fields/AssetField.vue';
import TagField from './fields/TagField.vue';
import BlocksField from './fields/BlocksField.vue';

// https://gist.github.com/codeguy/6684588
function string_to_slug(str) {
  str = str.replace(/^\s+|\s+$/g, ""); // trim
  str = str.toLowerCase();

  // remove accents, swap ñ for n, etc
  var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
  var to = "aaaaeeeeiiiioooouuuunc------";
  for (var i = 0, l = from.length; i < l; i++) {
    str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
  }

  str = str
    .replace(/[^a-z0-9 -]/g, "") // remove invalid chars
    .replace(/\s+/g, "-") // collapse whitespace and replace by -
    .replace(/-+/g, "-"); // collapse dashes

  return str;
}

export default {
  props: ['props-data'],

  components: {
    TextField,
    HiddenField,
    BooleanField,
    CollectionField,
    SelectField,
    FieldsField,
    PublishField,
    MediaField,
    // AssetField,
    // TagField,
    // BlocksField,
  },

  computed: {
    tabs() {
      var tabs = [];

      this.fields.forEach(o => {
        if (o.tab && tabs.indexOf(o.tab) < 0) {
          tabs.push(o.tab);
        }
      });

      return tabs;
    }
  },

  data() {
    return {
      activeTab: "Main",
      siteAvailabilities: null,
      locale: "en",
      id: null,
      routes: {},
      formData: {},
      fields: [],
    };
  },

  methods: {
    inTab(field) {
      if (field.tab && field.tab == this.activeTab) return true;
      if (this.activeTab == "Main" && typeof field.tab == "undefiend")
        return true;
      return false;
    },

    inPrimaryColumn(field) {
      if (!field.column || field.column == "primary") return true;
      return false;
    },

    inSecondaryColumn(field) {
      if (field.column && field.column == "secondary") return true;
      return false;
    },

    handleChangeLocale(langCode) {
      this.locale = langCode;

      // this.isSaving = true;

      this.getModelData(this.resource.routes.show + '?lang=' + this.locale)
    },

    handleNewAsset(obj) {
      var assets = this.resource.assets;
      assets.push(obj);
      Vue.set(this.resource, 'assets', assets)
    },

    handleInput(obj) {

      // if (obj.attr == 'media') {
      //   this.formData.medias.push(obj);
      //   if (!this.assets[obj.asset_id]) this.$http.get('/manage/assets/'+obj.asset_id).then(res => {
      //     console.log(res)
      //   })
      //   return;
      // }


      if (obj.attr.indexOf('custom_fields') >= 0) {
        var attr = obj.attr.split('.')[1];
        var fieldType = this.resource.fields.find(function(o) { 
          return o.attr === 'custom_fields'; 
        });
        
        if (fieldType)  {
          fieldType = fieldType.fields.find(function(o) {
            return o.attr === attr;
          });
        } else {
          throw 'Could not find custom fields';
        }

        if (fieldType.type == 'composer') {
          // make sure field is an array
          if (!Array.isArray(this.formData.custom_fields[attr])) {
            this.formData.custom_fields[attr] =  [];//[this.formData.custom_fields[attr]];
          }

          if (obj.id) {
            //existing record
            var customField = this.formData.custom_fields[attr].find(o => {
              return o.id === obj.id
            });

            customField.data = obj.value;
          } else {
            this.addNewCustomField(attr, obj);
          }
        } else {
          if (!this.formData.custom_fields[attr]) {
            this.addNewCustomField(attr, obj);
          } else {
            Vue.set(this.formData.custom_fields[attr], 'data', obj.value);
          }
        }

        return;
      } 

      // normal model field
      Vue.set(this.formData, obj.attr, obj.value);
    },

    addNewCustomField(attr, obj) {
      var newCustomField = {
        type: obj.type,
        data: obj.value,
        attr: attr,
        order: obj.order,
        id: 'NEW_' + Math.random().toString(36).substring(7) + '-' + Math.random().toString(36).substring(7),
      };

      if (Array.isArray(this.formData.custom_fields[attr])) {
        this.formData.custom_fields[attr].push(newCustomField);
      } else {
         this.formData.custom_fields[attr] = newCustomField;
      }
    },

    handleSave() {
      if (!this.formData.slug || this.formData.slug == '') {
        Vue.set(this.formData, "slug", string_to_slug(this.formData.title));
      }
      
      var url = this.formData.id == null ? this.resource.routes.save : this.resource.routes.save;

      fetch(url, {
        headers: {
          "Content-Type": "application/json",
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRF-TOKEN": this.csrf
        },
        method: this.formData.id == null ? "POST" : "PUT",
        body: JSON.stringify(this.formData)
      })  
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            var error = new Error(response.statusText);
            error.response = response;
            throw error;
          }
        })
        .then(response => {
          window.location.href = response.redirect;
        });
    },

    setupFields() {
      for (var i = 0; i < this.fields.length; i++) {
        let field = this.fields[i];

        if (field.attr == 'custom_fields') {
          if (!this.formData.custom_fields) {
            Vue.set(this.formData, 'custom_fields', {});
          }

          for (var x = 0; x < field.fields.length; x++) {
            Vue.set(this.formData.custom_fields, field.fields[x].attr, null);
          }
           
        } else {
          Vue.set(this.formData, field.attr, null);
        }
      }
    },

    setupFieldsWithData(model) {
      for (var i = 0; i < this.resource.fields.length; i++) {
        let obj = this.resource.fields[i];

        if (obj.attr == 'custom_fields') {
          if (!this.formData.custom_fields) {
            Vue.set(this.formData, 'custom_fields', {});
          }

          for (var x = 0; x < obj.fields.length; x++) {
            var attr = obj.fields[x].attr;
            if (model.custom_fields[attr]) Vue.set(this.formData.custom_fields, attr, model.custom_fields[attr]);
          }
           
        } else {
          if (model[obj.attr]) Vue.set(this.formData, obj.attr, model[obj.attr]);
        }
      }
    },

    getModelData() {
      this.$http.get(this.routes.show).then(res => {

        this.setupFields();

        // Vue.set(this, 'siteAvailabilities', res.data.siteAvailability);
        // Vue.set(this, 'assets', res.data.assets);
        // Vue.set(this, 'collections', res.data.collections);

        // this.setupFieldsWithData(res.data.model);
      });
    }
  },

  mounted() {
    if (this.propsData) {
      this.locale = this.propsData.locale;
      this.routes = this.propsData.routes;

      if (this.propsData.id) this.id = this.propsData.id;
    }
    
    if (this.id) this.getModelData();
  }
};
</script>