<template>
  <div id="ballrecc">
    <component :is="screens[step].component" :choices="choices" :step="step" @reset="reset" @next-step="nextStep" @set-choice="setStepScore" />

    <br /><br />
    <ul class="dots">
      <li v-for="screen in screens" :key="screen.index" :class="isActive(screen.index) ? 'active' : ''">
        <button type="button" class="dot-btn" @click="goToStep(screen.index)"><span class="sr-only">Jump to Step {{ screen.index }}</span></button>
      </li>
    </ul>
  </div>
</template>

<script>
import Intro from './components/Intro.vue';
import Flight from './components/Flight.vue';
import Feel from './components/Feel.vue';
import Spin from './components/Spin.vue';
import Results from './components/Results.vue';

let screens = [
  {component: 'Intro', index: 0},
  {component: 'Flight', index: 1},
  {component: 'Feel', index: 2},
  {component: 'Spin', index: 3},
  {component: 'Results', index: 4},
];

export default {
  name: 'app',

  components: {
    Intro, 
    Flight, 
    Feel, 
    Spin, 
    Results
  },

  data() {
    return {
      step: 0,
      choices: [],
      screens: screens
    };
  },

  methods: {
    nextStep() {
      this.step += 1;
    },

    reset() {
      this.step = 1;
      this.choices.length = 0;
    },

    setStepScore(value) {
      this.choices[this.step - 1] = value;
      this.nextStep();
    },

    goToStep(index) {      
      if (this.choices.length >= index) {
        this.step = index;
      }
    },

    isActive(index) {
      return index == this.step;
    }
  }
}
</script>

<style lang="scss">
#ballrecc {
  border: solid 1px #ccc;
  padding: 20px 20px 40px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  height: 300px;
  font-family: sans-serif;
  font-size: 16px;
  background: url('../images/bg.jpg') no-repeat top center;
  background-size: cover;
  height: 600px;
  color: #fff;

  .reset-btn {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .choice-btn {
    appearance: none;
    border: solid 2px #ccc;
    color: #777;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    height: 40px;
    padding: 0 10px;

    &.active {
      background: #333;
      color: #fff;
      border-color: #333;
    }
  }

  .dots {
    list-style: none;
    margin: 0;
    padding: 0;

    li { 
      display: inline-block;

      button {
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        
        span {
          width: 8px;
          height: 8px;
          display: block;
          background: #444;
          border-radius: 50%;
          overflow: hidden;
          text-indent: -9999px;
        }
      }

      &.active {
        span {
          background: #ccc;
        }
      }
    }
  }
}
</style>
