<template>
  <section id="main-app">
      <div v-if="step == 0">
        <h2>GAPR</h2>
        <button @click="goto(1)">Find Your Gap</button>
      </div>

      <div v-if="step == 1">
        <metalwood></metalwood>
      </div>

      <div v-if="step == 2">
        <iron></iron>
      </div>

      <div v-if="step == 3">
        <height :options="gaprOptions"></height>
      </div>

       <div v-if="step == 4">
        <results :choices="choices" :options="gaprOptions" :products="products"></results>
      </div>

  </section>  
</template>

<script>
import Metalwood from './Metalwood.vue';
import Iron from './Iron.vue';
import Results from './Results.vue';
import Height from './Height.vue';

export default {
  components: {
    Metalwood,
    Iron,
    Results,
    Height
  },

  computed: {

    gaprOptions() {
      if (!this.choices.iron || !this.choices.metalwood) return null;

      var mwOptions = this.collection.filter(obj => {
        return obj.mw === this.choices.metalwood;
      });

      var clubs = mwOptions.filter(obj => {
        return obj.iron == this.choices.iron;
      });

      if (clubs.length) return clubs[0];

      return [];
    },

  },

	data() {
		return {
      step: 0,
      
      choices: {
        iron: null,
        metalwood: null,
        flight: null,
      },

      collection: [

        { mw: 'a', iron: 'a', rec: [3], loftgap: '3&deg;', distancegap:'10-15 yards'},
        { mw: 'a', iron: 'b', rec: [3], loftgap: '5.5&deg;', distancegap:'15-20 yards'},
        { mw: 'a', iron: 'c', rec: [4,3], loftgap: '8&deg;', distancegap:'15-25 yards'},
        { mw: 'a', iron: 'd', rec: [5,4,3], loftgap: '11.5&deg;', distancegap:'20-30 yards'},


        { mw: 'b', iron: 'a', rec: [3], loftgap: '1.5&deg;', distancegap:'10-15 yards'},
        { mw: 'b', iron: 'b', rec: [3], loftgap: '4&deg;', distancegap:'15-20 yards'},
        { mw: 'b', iron: 'c', rec: [4,3], loftgap: '6.5&deg;', distancegap:'15-25 yards'},
        { mw: 'b', iron: 'd', rec: [5,4,3], loftgap: '10&deg;', distancegap:'20-30 yards'},


        { mw: 'c', iron: 'a', rec: [3], loftgap: 'SAME', distancegap:'10-15 yards'},
        { mw: 'c', iron: 'b', rec: [4], loftgap: '2.5&deg;', distancegap:'10-15 yards'},
        { mw: 'c', iron: 'c', rec: [3], loftgap: '5&deg;', distancegap:'15-20yards'},
        { mw: 'c', iron: 'd', rec: [4,3], loftgap: '8.5&deg;', distancegap:'15-25 yards'},
        
      ],

      products: {
        HI: {
          6: {loft: '28&deg;'},
          5: {loft: '25&deg;'},
          4: {loft: '22&deg;'},
          3: {loft: '19&deg;'},
        },
        MID: {
          5: {loft: '24&deg;'},
          4: {loft: '21&deg;'},
          3: {loft: '18&deg;'},
        },
        LO: {
          4: {loft: '22&deg;'},
          3: {loft: '19&deg;'},
          2: {loft: '17&deg;'},
        }
      },
    };
	},

	methods: {
    goto(i) {
      this.step = i;
    }
  },

  mounted() {
    bus.$on('step:goto', (i) => {
       this.step = i;

       if (i == 0) {
         this.choices.icon = null;
         this.choices.metalwood = null;
         this.choices.flight = null;
       }
    });

    bus.$on('step:setiron', (i) => {
       this.choices.iron = i;
       this.step = 3;
    });

    bus.$on('step:setmw', (i) => {
       this.choices.metalwood = i;
       this.step = 2;
    });

    bus.$on('step:setheight', (i) => {
       this.choices.flight = i;
       this.step = 4;
    });
  }
}
</script>