<template>
    <div class="gapr-item">
        <h3>{{ product.name }}</h3> 
        {{ product.number }} - <span v-html="product.loft"></span>
    </div>  
</template>
<script>

function getProduct(productList, flight, club) {
    if (productList[flight] && productList[flight][club]) {
        return {
            name: 'GAPR ' + (flight).toUpperCase(),
            number: club,
            loft: productList[flight][club].loft,
        };
    } 
        
    if (flight == 'LO') return getProduct(productList, 'MID', club);

    // FOR ERROR LOGGING PURPOSES
    return {
        name: 'x',
        number: 'x',
        loft: 'x',
    };
}

export default {

    props: ['club', 'flight', 'products', 'options'],

    computed: {

        product() {
            var prod = getProduct(this.products, this.flight, this.club)

            return {
                name: prod.name,
                number: prod.number,
                loft: prod.loft,
            };
        }
    },
    

}
</script>