<template>
    <section id="s3">

        <h2>What is your ideal ball flight?</h2>
        <button @click="setheight('LO')">Low</button>
        <button @click="setheight('MID')">Average</button>
        <button @click="setheight('HI')">High</button>

        <hr />
        
         <button @click="goto(2)">Back</button>
    </section>
</template>
<script>
export default {
    props: ['options'],

    methods: {
        setheight(i) {
            bus.$emit('step:setheight', i);
        },

        goto(i) {
            bus.$emit('step:goto', i);
        }
    }
}
</script>