<template>
    <section id="s2">
        <h2>What is your longest playable iron?</h2>
        <button @click="setiron('d')">6</button>
        <button @click="setiron('c')">5</button>
        <button @click="setiron('b')">4</button>
        <button @click="setiron('a')">3</button>

        <hr />

        <button @click="goto(1)">Back</button>
    </section>
</template>

<script>
export default {
    methods: {
        setiron(i) {
            bus.$emit('step:setiron', i);
        },
        goto(i) {
            bus.$emit('step:goto', i);
        }
    }
}
</script>