<template>
    <section id="s1">
        <h2>What is your shortest metalwood?</h2>
        <button @click="setmw('c')">5W</button>
        <button @click="setmw('b')">3HL</button>
        <button @click="setmw('a')">3W</button>

        <hr />

         <button @click="goto(0)">Back</button>
    </section>
</template>
<script>
export default {
    methods: {
        setmw(i) {
            bus.$emit('step:setmw', i);
        },

        goto(i) {
            bus.$emit('step:goto', i);
        }
    }
}
</script>