<template>
    <section id="s4">
        <h2>Your GAPR Recommendation</h2>

        <p>Loft Gap: <span v-html="options.loftgap"></span></p>
        <p>Your Distance Gap: {{options.distancegap}}</p>

        <ul class="gapr-results">
           <li v-for="club in options.rec" :key="club.loft">
                <gapr :options="options" :flight="choices.flight" :club="club" :products="products"></gapr>
            </li>
        </ul>

        <hr />

        <button @click="goto(3)">Back</button>    <button @click="goto(1)">Reset</button>
    </section>
</template>
<script>
import Gapr from './Gapr.vue';

export default {
    props: ['choices', 'options', 'products'], 

    components: {
        Gapr
    },

    methods: {
        goto(i) {
            bus.$emit('step:goto', i);
        }
    }
}
</script>