<template>
  <section class="feel">
      <h2>Do you prefer softness or firmness?</h2>
    <button type="button" :class="'choice-btn' + (isActive(1) ? ' active' : '')" @click="choose(1)">Softer</button>  &nbsp;
    <button type="button" :class="'choice-btn' + (isActive(0) ? ' active' : '')" @click="choose(0)">Soft</button>

    <br /><br />
    <button type="button" class="reset-btn" @click="reset">Reset Selection</button>
  </section>
</template>

<script>
export default {
  props: ['choices', 'step'],
  
  methods: {
    choose(value) {
      this.$emit('set-choice', value);
    },

    reset(){
      this.$emit('reset');
    },
    
    isActive(value) {
      return value === this.choices[this.step - 1]
    }
  }
}
</script>

<style lang="scss">
#ballrecc .feel {
}
</style>
