<template>
  <section class="intro">
    <h2>Find the golf ball that's right for you</h2>
    <button type="button" class="choice-btn" @click="start">Get Started</button>
  </section>
</template>

<script>
export default {
  methods: {
    start() {
      this.$emit('next-step');
    }
  }
}
</script>

<style lang="scss">
#ballrecc .intro {
}
</style>
