<template>
  <section class="results">
    <h2>We recommend these golf balls for you.</h2>

    <ul>
      <li v-for="result in results" :key="result.code">
        {{ result.name }}: {{ result.pct }}%
      </li>
    </ul>

    <br /><br />
    <button type="button" class="reset-btn" @click="reset">Reset Selection</button>
  </section>
</template>

<script>
import ProductMap from '../products.js';

export default {
  props: ['choices'],

  computed: {
    results() {
      var results = {};
      var resultArr = [];

      ProductMap.products.forEach(o => {
        results[o.name] = {score: 0, name: o.name};
        results[o.name]
      });

      for (var i = 0; i < this.choices.length; i++) {
        ProductMap.products.forEach(o => {
          if (o.values[i] == this.choices[i]) {
            results[o.name].score += 1;
          }
        })
      }

      for (var r in results) {
        results[r].pct = Math.round((results[r].score / this.choices.length) * 100);
        results[r].code = r.toLowerCase();
        resultArr.push(results[r]);
      }

      resultArr = resultArr.sort(function(a, b) {
        return b.pct - a.pct;
      });

      return resultArr;
    },
  },

  methods: {
    reset(){
      this.$emit('reset');
    },
    reset(){
      this.$emit('reset');
    }
  }
}
</script>

<style lang="scss">
#ballrecc .results {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 20px;
      padding: 10px;
    }
  }
}
</style>
